* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS",
        "Comic Sans",
        cursive;
    background-color: transparent;
}

body,
header,
fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body {
    background-color: rgb(211, 191, 191);
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 90%;
}

div.form-div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 90%;
    align-self: center;
}

.form-div>* {
    display: flex;
    width: 45%;
    flex-direction: column;
    padding-top: 0.5rem;
    margin-right: 1rem;
}

@media(max-width: 680px) {
    .form-div>* {
        width: 90%;
    }
}

.form-div>p {
    width: 100%;
    font-weight: bolder;
}

form>input {
    background-color: black;
    color: white;
    width: 50%;
    align-self: center;
    margin-top: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

label>input {
    border-radius: 0.5rem;
    height: 2rem;
    font-size: 1.2rem;
}

label>input:focus {
    border-color: cyan;
    background-color: white;
}

/* BANNER */
.banner {
    display: flex;
    height: 15rem;
}

.banner-container {
    display: flex;
}

.bannerSpaces {
    display: flex;
    height: 15rem;
    background-color: rgb(255, 228, 196);
    flex-grow: 3;
}

/*---------------*/

/* TITLES */
h1 {
    display: flex;
    color: white;
    background-color: blue;
    padding: 0.5rem;
}

h2 {
    display: flex;
    color: black;
    margin-bottom: 3rem;
    align-self: center;
}

/*-------------*/

/* LOGO */
.logo-title {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    background-color: blue;
}

.logo {
    display: flex;
    height: 4.5rem;
    background-color: blue;
}

/* ----------------- */
/* NAV */
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

nav>a {
    background-color: blue;
    border-color: white;
    color: white;
    height: 2.2rem;
    width: 9rem;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem;
    border-radius: 1rem;
    padding: 1px;
    padding-top: 3px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/* --------- */
section>h3,
section>p,
.gallery,
section>iframe,
section>h4 {
    display: flex;
    align-self: center;
    width: 90%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

main,
section {
    display: flex;
    flex-direction: column;
}

#info {
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: 2rem;
    list-style: none;
}

.actual-page {
    background-color: bisque;
    color: black;
}

/*TABLE*/
table,
th,
td,
tr {
    border: 0.2rem solid;
    border-collapse: collapse;
}

th,
td {
    padding: 0.2rem;
    text-align: center;

}

table {
    width: 90%;
    align-self: center;
}

th {
    background-color: black;
    color: white;
    border-color: black;
}

/*LISTS*/
ol,
ul {
    align-self: center;
    width: 90%;
    list-style-position: inside;
}

ol>li>ol {
    list-style: lower-latin;
    list-style-position: inside;
    margin-left: 2rem;
}