* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
    top: 0;
}


li {
    margin-bottom: 5rem;
}

.actual-page {
    text-decoration: none;
    font-weight: 700;
}

.banner {
    display: block;
    width: 100%;
    height: 250px;
}

h1 {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    color: white;
}

h2 {
    display: block;
    top: 12rem;
    background-color: blue;
    color: white;
    width: 100vw;
    margin-bottom: 3rem;
    text-align: center;
}

.logo {
    position: absolute;
    right: 10rem;
    top: 14.5rem;
}

nav {
    position: absolute;
    top: 20rem;
}

section>h3,
section>p {
    position: relative;
    left: 10rem;
    margin-bottom: 1rem;
}

.gallery {
    position: relative;
    top: 2rem;
    left: 10rem;
}